//====================================
// Global Imports
//====================================


// 1- Import bootstrap framework
@import '1-frameworks/index';

#result-wrapper {
    background-color: #e9ecef;
    padding: 20px;
    color: red;
}
